.dockerignore
.dockleignore
.git/
.github/
.gitignore
.husky/
.prettierrc
.eslintcache
.hadolint.yaml
.vscode/
.env
docker-compose example/
docker-compose.yml
docker-compose-dev.yml
Dockerfile
Dockerfile-dev
example.env
Makefile
photos_path
screenshots/
systemd/
storage/

ui/node_modules/
ui/build/
ui/.cache/
ui/.nvmrc

**/.sonarlint/
**/sonar-project.properties
ui/sonar-project.properties
api/sonar-project.properties

api/photo_cache
