.dockerignore
.github
.gitignore
.husky
.prettierrc
.eslintcache
.vscode
.env
docker-compose example
docker-compose.yml
docker-compose-dev.yml
Dockerfile
Dockerfile-dev
example.env
Makefile
photos_path
screenshots
storage
dev

ui/node_modules/
ui/build/
ui/.cache/

api/photo_cache
